/**
 * iamvdo's theme
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
 /*#f03d36;*/
body {
  background: #444;
  background: #f03d36;
  background: -webkit-linear-gradient(top left, white -50%, #f03d36 20%, black 200%);
  background: linear-gradient(to bottom right, white -50%, #f03d36 20%, black 200%);
   overflow-y: auto; 
  width: 100%;
  width: calc(100% + 20px);
}

.reveal {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.05em;
  color: white;
  color: #fff;
}
.reveal-overlay {
  position: fixed;
  z-index: 100;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 10px solid #f03d36;
  pointer-events: none;
}
.info-overlay {
  font: 1.2em sans-serif;
  color: #FFF;
  background: #111;
  padding: .5em 1em;
  position: fixed;
  z-index: 100;
  bottom: 0; left: 0; right: 0;
}
.info-overlay a {
  color: inherit;
  text-decoration: none;
}
.info-overlay a:hover,
.info-overlay a:focus {
  text-decoration: underline;
}
#info-slides {
  left: 150px;
}
.reveal .slides > section {
    height: 100%;
    padding: 50px 0;
}
.reveal .slides > section > section {
    height: 100%;
}

::-moz-selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  display: block;
  margin: 0 0 20px 0;
  padding: .2em;
  color: white;
  font-family: Montserrat, sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.05em;
  text-transform: none;
  text-shadow: none;
}

.reveal h1 { font-size: 2.8em; }
.reveal h2 { font-size: 1.8em;  }
.reveal h3 { font-size: 1.1em; text-align: left; display: block; background: transparent; color: #111;}
.reveal h4 { font-size: 1em;    }

.reveal h1 + h2 {
  font-size: 1.4em;
  background: transparent;
  color: #111;
}
.reveal button {
  letter-spacing: normal;
}

.reveal .u-aligncenter {
  text-align: center;
}
.reveal .u-alignmiddle {
  position: absolute;
  top: 30%; left: 0; right: 0;
}
.reveal .u-code {
  background: transparent;
}
.reveal .u-small {
  font-size: .6em;
}
.reveal .u-margin {
  margin: 6em 0;
}
.reveal .u-no,
.reveal .u-no:hover {
  margin: 0;
  max-width: inherit;
  max-height: inherit;
  border: none;
  box-shadow: none;
  background: transparent;
}
.reveal .u-margin-auto,
.reveal .u-margin-auto:hover {
  margin: auto;
}
.reveal .u-svg {
  height: 0;
  position: absolute;
}
.reveal .u-row {

}
.reveal .u-row > *,
.reveal .u-row > *:hover {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.reveal .info {
  font-size: .6em;
  font-style: italic;
  color: #111;
}
.reveal .section--title h2 {
  color: #f03d36;
}
/*********************************************
 * CONTENT
 *********************************************/
.reveal .citation {
  font-size: 1.8em;
}
.reveal .citation q,
.reveal .citation cite {
  display: block;
  font-style: normal;
}
.reveal .citation cite {
  text-align: right;
  font-style: italic;
  font-size: .8em;
  margin-right: 1em;
}
.reveal .citation cite:before {
  content: '-';
}
.reveal p {
  text-align: left;
}
.reveal ul{
  display: block;
  margin: 30px 1.5em;
}
.reveal ul ul, 
.reveal ul ol,
.reveal ol ul,
.reveal ol ol {
  margin: 0 1.5em 5px 1.5em;
  font-size: .9em;
}
.reveal ul ul {
    list-style: disc;
}
.reveal small {
  line-height: normal;
  vertical-align: baseline;
}
.reveal pre {
  position: relative;
  z-index: 1;
  overflow: scroll;
  -webkit-transition: z-index 0s .5s;
          transition: z-index 0s .5s;
}
.reveal pre.small {
  height: 110px;
  overflow: visible;
}
.reveal ul code,
.reveal p code,
.reveal h2 code {
  color: #FFF;
  font: bold .9em monospace;
  background: #111;
  border-radius: 3px;
  padding: 0 .2em;
  /*white-space: nowrap;*/
}
.reveal pre code {
  display: block;
  color: black;
  position: relative;
  max-height: inherit;
  height: auto;
  font-family: Consolas, Monaco, monospace;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.5;
  white-space: pre;
  -moz-tab-size: 3;
    -o-tab-size: 3;
       tab-size: 3;
  -webkit-transition: max-height .5s, height .5s;
          transition: max-height .5s, height .5s;
}
.reveal pre code:focus {
  outline: none;
}
.reveal pre.small code {
  max-height: 100px;
  height: 100px;
  white-space: pre-wrap;
}
.reveal pre.small:hover {
  z-index: 10;
  -webkit-transition: z-index 0s 0s;
          transition: z-index 0s 0s;
}
.reveal pre.small:first-of-type:hover {
  z-index: 20;
}
.reveal pre.small:hover code,
.reveal pre.small code:focus,
.reveal code:focus {
  max-height: 400px;
  height: 400px;
}
.reveal table {
  width: 100%;
  margin: 1em 0;
  color: #FFF;
}
.reveal table th,
.reveal table td {
  padding: 0.2em;
}
.reveal table th {
  background: rgba(0,0,0,.8);
}
.reveal table td {
  background: rgba(0,0,0,.5);
}
.reveal table tr:first-child th,
.reveal table td {
  text-align: center;
}
.reveal table th:first-child {
  width: 200px;
}
.me {
  background: url('images/sites.png') bottom right no-repeat;
}
/* Demo side by side */
.reveal .demo--side > div {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  min-height: 300px;
  padding: 15px 0;
}
.reveal .demo--side pre {
  overflow: auto;
  width: 100%;
  margin: 0;
}
.reveal .demo--side pre code {
  height: 300px;
  max-height: 300px;
}


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #fff;
  border-bottom: 1px solid #111;
  text-decoration: none;
  -webkit-transition: color .15s, background .15s;
          transition: color .15s, background .15s;
}

.reveal a:not(.image):hover {
  color: #fff;
  background: rgba(0,0,0,.8);
  border: none;
  /* border-bottom-color: #fff; */
  text-shadow: none;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  display: block;
  margin: 15px auto;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #f03d36;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

.reveal img.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 10;
  margin: auto;
  box-shadow: 0 5px 20px 5px rgba(0,0,0,.5), 0 50px 100px 50px rgba(0,0,0,.05);
}
.reveal img.visible {
  -webkit-animation: overlay .4s 1 cubic-bezier(0,0,.1,1);
          animation: overlay .4s 1 cubic-bezier(0,0,.1,1);
}
.reveal img.overlay--noborder {
  border: none;
  box-shadow: none;
}
@-webkit-keyframes overlay {
  from { -webkit-transform: scale(0); transform: scale(0); }
  to { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes overlay {
  from { -webkit-transform: scale(0); transform: scale(0); }
  to { -webkit-transform: scale(1); transform: scale(1); }
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  height: 30px;
  bottom: 0;
  z-index: 101;
}
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  top: 0;
  border-right-color: #FFF; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  top: 0;
  border-left-color: #FFF; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  display: none;
  border-bottom-color: #f03d36; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  display: none;
  border-top-color: #f03d36; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #fff; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #fff; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #fff; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #fff; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #444;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: darkblue; }

/*********************************************
 * DEFAULT TRANSITION
 *********************************************/
.reveal.iamvdo .slides>section {
  -webkit-transition: -webkit-transform .6s, opacity .6s, background .6s;
          transition: transform .6s, opacity .6s, background .6s;
}
.reveal.iamvdo .slides>section.present {
  -webkit-transform-origin: 50% 500%;
      -ms-transform-origin: 50% 500%;
          transform-origin: 50% 500%;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.reveal.iamvdo .slides>section.past {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateX(-640px)translateX(320px)rotateY(20deg)translateX(320px);
          transform: translateX(-640px)translateX(320px)rotateY(20deg)translateX(320px);
}
.reveal.iamvdo .slides>section.future {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateX(640px)translateX(-320px)rotateY(-20deg)translateX(-320px);
          transform: translateX(640px)translateX(-320px)rotateY(-20deg)translateX(-320px);
}
.reveal.overview .slides>section {
  -webkit-transition: none;
          transition: none;
}

/*********************************************
 * FRAGMENT STYLES
 *********************************************/
.reveal .slides section .fragment.current-visible {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(.9);
      -ms-transform: scale(.9);
          transform: scale(.9);
  position: absolute;
  left: 0; right: 0;
}

.reveal .slides section .fragment.current-visible.current-fragment {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}


/*********************************************
 * ZENBURN
 *********************************************/
pre .dos .keyword,
pre .python .decorator,
pre .title,
pre .haskell .type,
pre .diff .header,
pre .ruby .class .parent,
pre .apache .tag,
pre .nginx .built_in,
pre .tex .command,
pre .prompt,
pre .attribute {
    color: #f03d36;
}
pre .keyword,
pre .tag,
pre .css .class,
pre .css .id,
pre .lisp .title,
pre .nginx .title,
pre .request,
pre .status,
pre .clojure .attribute {
  color: #000;
}
pre .diff .deletion,
pre .string,
pre .tag .value,
pre .preprocessor,
pre .built_in,
pre .sql .aggregate,
pre .javadoc,
pre .smalltalk .class,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .css .rules .value,
pre .attr_selector,
pre .pseudo,
pre .apache .cbracket,
pre .tex .formula {
  color: black;
}
pre .number,
pre .date {
  color: black;
}